Repository GoogleCloudPlatform/elcarro-oracle-operator, pull requests merged in 2022-04, with the labels that each got.

#197 Remove Config Agent reference from Makefile.
  oracle/Makefile
Labels: size/XS, lgtm, approved

#198 Fix bug in testhelpers k8sUpdateWithRetryHelper
  oracle/controllers/testhelpers/BUILD.bazel
  oracle/controllers/testhelpers/envtest.go
Labels: size/XS, lgtm, ok-to-test, approved

#199 Fix import controller test flakiness
  oracle/controllers/importcontroller/import_controller_test.go
Labels: size/XS, lgtm, ok-to-test

#200 Fix tag on UI image
  oracle/ui.yaml
Labels: size/XS, lgtm, approved
